body {
	background-color: lightgray;
}

#tree {
	z-index: -3;
	position: absolute;
	bottom: 0%;
	right: 0%;
}

/* unvisited link */
a:link {
	text-decoration: none;
}

/* visited link */
a:visited {
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
}

/* selected link */
a:active {
	text-decoration: none;
}

html {
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: inherit;
	padding: 14px 16px;
	text-decoration: none;
}

ul . {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: inherit;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: skyblue;
}

body {
	margin: 0 auto;
	padding: 2em 2em 4em;
	max-width: 850px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 1024px;
	line-height: 1.5em;
	background-color: #ffffff;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth-child(odd) {
	background-color: #fff;
}

table#t01 th {
	background-color: black;
	color: white;
}

h2 {
	color: gray;
}

h3 {
	font-size: 16px;
	color: darkcyan;
	float: left;
}

h4 {
	font-size: 16px;
	color: darkcyan;
	float: left;
}

button.margin {
	margin-left: 650px;
}

h1, h9 {
	color: #222;
	font-weight: 600;
	line-height: 1.3em;
	margin-top: 50px;
}