<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="/Style.css" />
</head>

<body align="center">

	<section name="header" style="height: 15%;">
		<div style="color: green;">
			<a href="PMHome.html"><h1>Money Tree</h1></a>
		</div>
	</section>



	<form method="post" action="/login">
		<h1>Portfolio manager Login</h1>
		<h5 style="color: RED">Invalid credentials. Please try again!</h5>
		<div style="margin: auto; width: 25%; padding: 10px;">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon1">@</span> <input
					name="uId" id="uId" type="text" class="form-control"
					placeholder="User ID" aria-describedby="sizing-addon1" />


			</div>
			<br />
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon1">*</span> <input
					name="password" id="password" type="password" class="form-control"
					placeholder="Password" aria-describedby="sizing-addon2" />

			</div>

		</div>
		<input type="submit" class="btn btn-default navbar-btn"
			value="Sign in"></input>

		<div id="forgotpassowrd">
			<a href="ResetPassword.html">Forgot Password</a>
		</div>
	</form>
	<img id="tree" src="/money_tree.png" />
</body>
</html>